@model State
@{
    ViewData["Title"] = "Home Page";
    string stateString = Context.Session.GetString("state");
    State state = JsonConvert.DeserializeObject<State>(stateString);
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

<h3 class="secondary-header">
    <span>New Game!</span>
</h3>
<h2 class="primary-header">
    <span>@state.Character</span>
    <span>'s Turn</span>
</h2>
